form #answers {
  margin-left: calc(51% - 100px);
}

sup {
  vertical-align: super;
  font-size: 50%;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
}

button {

  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: calc(55% - 100px);
}
